@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* primary bg */
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.gray{
    color: rgb(66, 66, 66);
}
.soft-gray{
    color: rgb(114, 114, 114);
}
.light-gray{
    color: rgb(19, 19, 19);
}
.orange{
    color: #FF900E;
}
.btn-primary{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}

.nav-item{
list-style: none;
margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
font-weight: 500;
text-align: center;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

/* banner styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
font-weight: 700;
}
.banner-description{
    font-size: 1.25rem;
font-weight: 400;
}
.banner-img{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
    gap: 76px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 24px;
}
.team-feature{
    max-width: 537px;
}
.feature-title{
font-size: 2.80rem;
font-weight: 700;
}
.feature-description{
font-size: 1rem;
font-weight: 400;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-feature{
        margin:20px;
    }
}

/* love and enjoy */
.love-enjoy{
    gap: 146px;
}
.love-enjoy-1{
    max-width: 586px;
}
.love-enjoy-img{
    max-width: 708px;
    
}
.card{
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
    border-radius: 8px;

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}

/* facts */
.facts-container{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
border: 1px solid rgb(255, 144, 14);
border-radius: 8px;

}
.fact-h3{

}
.fact-p{
    max-width: 542px;
}
.fact-title{
    font-size: 2.81rem;
font-weight: 600;
margin-top: 5px;
margin-bottom: 10px;
}
.fact-subtitle{
    font-size: 1.25rem;
font-weight: 600;
margin-top: 10px;
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-feature{
        margin: 0 auto;
    }
}
